<head>

</head>
<style> 
    a:link {
        color: red;
        text-decoration: none;
    }
    .link{
        color: blue;
        text-decoration: none;
        text-align: center;
    }
 
</style>
<body>

    <h1 style="text-align:center;"><font color = "#663300">Rotten Potatoes</font></h1>
    <div style="text-align:center;"><img src  ="http://www.gpdesenhos.com.br/imagens/disney/srcabecadebatata2.jpg" /></div>
    <h1 class = "link"><%= link_to 'All Movies', controller: 'articles' %></h1>

</body>